.box-set {
    position: relative;
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
/* Absolute Position */
position: absolute;
width: 300px;
height: 150px;
background: #4a577a2d;
border: 2px solid black;
}

.box-1 {
    right: 20px;
    bottom: -30px;
  }

